.container {
    text-align: center;
    padding: 50px;
}

.button-container {
    margin-top: 50px;
}

.button {
    display: inline-block;
    margin: 20px;
}

.button img {
    width: 150px;
    height: auto;
    cursor: pointer;
}

